<h2>Thanks, you paid <strong><%= number_to_currency(@amount) %></strong>!</h2>

<h2>Your order has been placed. Order number is <strong><%= @order_no %></strong></h2>

<p>You will see this order in My Order page once the payment is successfully charged.</p>